.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  font-family: sans-serif;
  width: 80vw;
  position: relative;
}
 .mainCard {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(37, 3, 70);
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  overflow: hidden;
  z-index: 6;
}
.card{
  position: absolute;
  top: 50%;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: rgb(37, 3, 70);
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
   display: flex;
  align-items: center;
  justify-content: center;
  top: 65vh;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 5;
}

.slideContent {
  font-size: 3rem;
  font-weight: bold;
  transition: transform 3s ease, opacity 3s ease;
}

/* Animation when sliding left */
.slideLeft {
  animation: slideLeft 9s ease;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  49% {
    transform: translateX(60vw);
    opacity: 0.9;
  }
  50% {
    transform: translateX(60vw);
    opacity: 0.9;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation when sliding right */
.slideRight {
  animation: slideRight 0.3s ease;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  49% {
    transform: translateX(60vw);
    opacity: 1;
  }
  50% {
    transform: translateX(-60vw);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  border-radius: 50%;
  padding: 8px 12px;
  padding-top: 150px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s ease;
}



.left {
  left: 5vw;
}

.right {
  right: 5vw;
}

.counter {
  margin-top: 12px;
  font-size: 0.9rem;
  color: #aaa;
}
.faculties{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 100vw;
  height: 40vh;
  overflow: hidden;
}