.hom{
    padding: 5px;
}
.main{
    padding: 10px;
}
.h2{
    font-size: 30px;
}
.course{
    left: 0;
    scroll-behavior: smooth;
}
.course section ul{
    position: fixed;
    list-style: none;
}
.courselist div{
    height: 100vh;
}
.courselist{
    margin-left: 10vw;
}