.home{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  font-family: sans-serif;
  width: 80vw;
  position: absolute;
  top: 5px;

  margin-bottom: 50px;
}
.title{
    font-size: 20px;
    display: flex;
    color: blueviolet;
    font: bold;
    font-weight: 800;
    margin-bottom: 50px;
}
.footer{
    position: relative;
    z-index: 2;
}
.footerButton{
  width: 35vw;
  height: 45px;
  border-radius: 20px;
  color: white;
  background: linear-gradient(blueviolet, blue);
  border: none;
  position: relative;
}
.footerButton:hover{
  background: linear-gradient(purple, rgb(102, 0, 255));
}
