.home{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  font-family: sans-serif;
  width: 80vw;
  position: relative;
  margin-top: 50px;

  margin-bottom: 50px;
}
.title{
    font-size: 20px;
    display: flex;
    color: blueviolet;
    font: bold;
    font-weight: 800;
}
.footer{
    position: relative;
    z-index: 2;
}
