.home{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    justify-content: center;
    gap: 10px;
}
.title{
    font-size: 20px;
    display: flex;
    color: blueviolet;
    font: bold;
    font-weight: 800;
}
.footer{
    position: relative;
    z-index: 2;
}