:root {
  --background: #ffffff;
  --foreground: ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  color: white;
  background: linear-gradient(black, rgb(46, 1, 86), black);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

details{
  gap: 20px;
}
header{
  padding: 10px;
  top: 0;
}
.selector{
  width: 90vw;
  height: calc(fit-content);
  border-radius: 1.7rem;
  background-color: #20153a;
  padding: 13px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 2px;
  padding-left: 5px;
  border: 1px;
}
.course:hover{
  background-color: #3c2572;
}
label:has(input:checked){
  background-color: #110b1f;
}
label input{
  display: none;
}
.course{
  height: 6rem;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ans{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.answerButton{
  width: 160px;
  height: 40px;
  border-radius: 20px;
  color: white;
  background: linear-gradient(blueviolet, blue);
  border: none;
}
.answerButton:hover{
  background: linear-gradient(purple, rgb(102, 0, 255));
}
.footerButton:hover{
  background: linear-gradient(purple, rgb(102, 0, 255));
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 24px;
  position: fixed;
  bottom: 1vh;
  margin-top: 20px;
}


footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

footer img {
  flex-shrink: 0;
}
.footerButton{
  width: 80px;
  height: 40px;
  border-radius: 20px;
  color: white;
  background: linear-gradient(blueviolet, blue);
  border: none;
  position: relative;
}
.soon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left{
  left: 0;
}
.courseToggleOn{
  position: fixed;
  animation: comeUp 5s  ;
  width: 160px;
  height: 60px;
  border-radius: 20px;
  color: white;
  background: linear-gradient(blueviolet, blue);
  border: none;
  position: relative;
}
.courseToggle{
  position: fixed;
  width: 160px;
  height: 60px;
  border-radius: 20px;
  color: white;
  background: linear-gradient(blueviolet, blue);
  border: none;
  position: relative;
  bottom: -50vh;
}

@keyframes comeUp {
  0% {
    bottom: -40vh;
  }
  100%{
    bottom: 0;
  }
}
@keyframes goDown {
  0% {
    bottom: 0;
  }
  100%{
    bottom: -40vh;
  }
}
.none{
  display: none;
}
ol.block{
  display: block;
  animation: comeUp 5s  ;
}
h3{
    font-size: 20px;
    display: flex;
    color: blueviolet;
    font: bold;
    font-weight: 800;
}
li{
  list-style: none;
}
.preFooter{
  height: 50vh;
  position: absolute;
  bottom: 10px;
  background-color: aqua;
}